@model IEnumerable<User>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>ФИО</th>
                <th>Роль</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Authorization.Login</td>
                    <td>@user.Authorization.Password</td>
                    <td>@user.Profile.Name</td>
                    <td>@user.Role</td>
                    <td>@Html.ActionLink("Редактировать", "EditUser", "User", new { userId = user.Id }) | @Html.ActionLink("Удалить", "DeleteUser", "User", new { userId = user.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>